
SB#996_Task0/.idea/inspectionProfiles/profiles_settings.xml
SB#996_Task0/.idea/misc.xml
SB#996_Task0/.idea/modules.xml
SB#996_Task0/.idea/other.xml
SB#996_Task0/.idea/task0_sol.iml
SB#996_Task0/.idea/workspace.xml
